In [68]:
import pandas as pd 
from sqlalchemy import create_engine
import mysql.connector

In [69]:
file_name = "Metals_Prices_data"

host_val = "ubctg.con7266gcvin.us-east-2.rds.amazonaws.com"
user_val = "admin"
password_val = "ubctgquant"
database_val = "ubctg"

In [70]:
# Connect to MySQL database
connection = mysql.connector.connect(
    host=host_val,
    user=user_val,
    password=password_val,
    database=database_val
)

In [71]:
hostname= "localhost"
database= "new_db"
username= "username"
password= "password"

engine = create_engine("mysql://{user}:{pw}@{host}/{db}".format(host=host_val, db=database_val, user=user_val, pw=password_val))

In [72]:
my_file = open("Names.txt", "r") 
names = my_file.read().split("\n") 
my_file.close()

names

['generic 1st primary aluminum (LME)',
 'generic 1st copper (LME)',
 'generic 1st lead (LME)',
 'generic 1st zinc (LME)',
 'generic 1st nickel (LME)',
 'generic 1st tin (LME)',
 'generic 1st steel billet (LME)',
 'generic 1st UxC Uranium U308 Swaps (CMX)',
 'generic 1st silver (CMX)',
 'generic 1st gold, 100 oz (CMX)',
 'generic 1st platinum (NYM)',
 'generic 1st palladium (NYM)']

In [73]:
df = pd.read_excel(file_name + ".xlsx")
df

,Start Date,1975-01-29 00:00:00,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,End Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,LA1 Comdty,NaN,LP1 Comdty,NaN,LL1 Comdty,NaN,LX1 Comdty,NaN,LN1 Comdty,...,UXA1 Comdty,NaN,SI1 Comdty,NaN,GC1 Comdty,NaN,PL1 Comdty,NaN,PA1 Comdty,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Dates,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,...,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,2023-12-29 00:00:00,2351.5,765677,8488.5,347837,2044.25,91070,2643,178260,16435,...,91.25,4,24.086,85446,2071.8,243060,995,469170,1109.3,3961
593,2024-01-31 00:00:00,2252.35,697068,8530.5,248683,2176.96,100531,2531.35,147815,16069,...,101.25,4,23.169,1222402,2048.4,3866684,932.6,42306,996.8,73444
594,2024-02-29 00:00:00,2197.22,612451,8427,250153,2072,104111,2393.25,183693,17719.5,...,94.45,4,22.666,1243264,2054.7,373245,884,506046,933.5,106138
595,2024-03-29 00:00:00,2306.92,611768,8787.84,269659,2031.92,165206,2403.68,176329,16597.02,...,88,4,24.916,135191,2217.4,4773623,907.7,596718,1021.5,6637
596,2024-04-30 00:00:00,2565.69,544639,9903.73,348514,2189.41,109647,2924.82,137191,19102,...,89.95,4,26.391,2232484,2302.9,424136,948.2,71060,952.8,92888

In [74]:
df = df[2:]
df = df.drop(index = [3,5])
df

,Start Date,1975-01-29 00:00:00,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
2,NaN,LA1 Comdty,NaN,LP1 Comdty,NaN,LL1 Comdty,NaN,LX1 Comdty,NaN,LN1 Comdty,...,UXA1 Comdty,NaN,SI1 Comdty,NaN,GC1 Comdty,NaN,PL1 Comdty,NaN,PA1 Comdty,NaN
4,Dates,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,...,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME
6,1975-02-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.454,NaN,183,NaN,NaN,NaN,NaN,NaN
7,1975-03-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.275,NaN,177.1,NaN,NaN,NaN,NaN,NaN
8,1975-04-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.306,NaN,166.8,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,2023-12-29 00:00:00,2351.5,765677,8488.5,347837,2044.25,91070,2643,178260,16435,...,91.25,4,24.086,85446,2071.8,243060,995,469170,1109.3,3961
593,2024-01-31 00:00:00,2252.35,697068,8530.5,248683,2176.96,100531,2531.35,147815,16069,...,101.25,4,23.169,1222402,2048.4,3866684,932.6,42306,996.8,73444
594,2024-02-29 00:00:00,2197.22,612451,8427,250153,2072,104111,2393.25,183693,17719.5,...,94.45,4,22.666,1243264,2054.7,373245,884,506046,933.5,106138
595,2024-03-29 00:00:00,2306.92,611768,8787.84,269659,2031.92,165206,2403.68,176329,16597.02,...,88,4,24.916,135191,2217.4,4773623,907.7,596718,1021.5,6637
596,2024-04-30 00:00:00,2565.69,544639,9903.73,348514,2189.41,109647,2924.82,137191,19102,...,89.95,4,26.391,2232484,2302.9,424136,948.2,71060,952.8,92888

In [77]:
col_names = ["Date"]
for x in names:
    col_names.append(x + ": Price")
    col_names.append(x + ": Volume")
col_names

['Date',
 'generic 1st primary aluminum (LME): Price',
 'generic 1st primary aluminum (LME): Volume',
 'generic 1st copper (LME): Price',
 'generic 1st copper (LME): Volume',
 'generic 1st lead (LME): Price',
 'generic 1st lead (LME): Volume',
 'generic 1st zinc (LME): Price',
 'generic 1st zinc (LME): Volume',
 'generic 1st nickel (LME): Price',
 'generic 1st nickel (LME): Volume',
 'generic 1st tin (LME): Price',
 'generic 1st tin (LME): Volume',
 'generic 1st steel billet (LME): Price',
 'generic 1st steel billet (LME): Volume',
 'generic 1st UxC Uranium U308 Swaps (CMX): Price',
 'generic 1st UxC Uranium U308 Swaps (CMX): Volume',
 'generic 1st silver (CMX): Price',
 'generic 1st silver (CMX): Volume',
 'generic 1st gold, 100 oz (CMX): Price',
 'generic 1st gold, 100 oz (CMX): Volume',
 'generic 1st platinum (NYM): Price',
 'generic 1st platinum (NYM): Volume',
 'generic 1st palladium (NYM): Price',
 'generic 1st palladium (NYM): Volume']

In [78]:
df = df.set_axis(col_names, axis = 1)
df

,Date,generic 1st primary aluminum (LME): Price,generic 1st primary aluminum (LME): Volume,generic 1st copper (LME): Price,generic 1st copper (LME): Volume,generic 1st lead (LME): Price,generic 1st lead (LME): Volume,generic 1st zinc (LME): Price,generic 1st zinc (LME): Volume,generic 1st nickel (LME): Price,...,generic 1st UxC Uranium U308 Swaps (CMX): Price,generic 1st UxC Uranium U308 Swaps (CMX): Volume,generic 1st silver (CMX): Price,generic 1st silver (CMX): Volume,"generic 1st gold, 100 oz (CMX): Price","generic 1st gold, 100 oz (CMX): Volume",generic 1st platinum (NYM): Price,generic 1st platinum (NYM): Volume,generic 1st palladium (NYM): Price,generic 1st palladium (NYM): Volume
2,NaN,LA1 Comdty,NaN,LP1 Comdty,NaN,LL1 Comdty,NaN,LX1 Comdty,NaN,LN1 Comdty,...,UXA1 Comdty,NaN,SI1 Comdty,NaN,GC1 Comdty,NaN,PL1 Comdty,NaN,PA1 Comdty,NaN
4,Dates,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,...,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME
6,1975-02-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.454,NaN,183,NaN,NaN,NaN,NaN,NaN
7,1975-03-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.275,NaN,177.1,NaN,NaN,NaN,NaN,NaN
8,1975-04-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.306,NaN,166.8,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,2023-12-29 00:00:00,2351.5,765677,8488.5,347837,2044.25,91070,2643,178260,16435,...,91.25,4,24.086,85446,2071.8,243060,995,469170,1109.3,3961
593,2024-01-31 00:00:00,2252.35,697068,8530.5,248683,2176.96,100531,2531.35,147815,16069,...,101.25,4,23.169,1222402,2048.4,3866684,932.6,42306,996.8,73444
594,2024-02-29 00:00:00,2197.22,612451,8427,250153,2072,104111,2393.25,183693,17719.5,...,94.45,4,22.666,1243264,2054.7,373245,884,506046,933.5,106138
595,2024-03-29 00:00:00,2306.92,611768,8787.84,269659,2031.92,165206,2403.68,176329,16597.02,...,88,4,24.916,135191,2217.4,4773623,907.7,596718,1021.5,6637
596,2024-04-30 00:00:00,2565.69,544639,9903.73,348514,2189.41,109647,2924.82,137191,19102,...,89.95,4,26.391,2232484,2302.9,424136,948.2,71060,952.8,92888

In [79]:
df = df.reset_index()
df = df.drop('index', axis = 1)
df

,Date,generic 1st primary aluminum (LME): Price,generic 1st primary aluminum (LME): Volume,generic 1st copper (LME): Price,generic 1st copper (LME): Volume,generic 1st lead (LME): Price,generic 1st lead (LME): Volume,generic 1st zinc (LME): Price,generic 1st zinc (LME): Volume,generic 1st nickel (LME): Price,...,generic 1st UxC Uranium U308 Swaps (CMX): Price,generic 1st UxC Uranium U308 Swaps (CMX): Volume,generic 1st silver (CMX): Price,generic 1st silver (CMX): Volume,"generic 1st gold, 100 oz (CMX): Price","generic 1st gold, 100 oz (CMX): Volume",generic 1st platinum (NYM): Price,generic 1st platinum (NYM): Volume,generic 1st palladium (NYM): Price,generic 1st palladium (NYM): Volume
0,NaN,LA1 Comdty,NaN,LP1 Comdty,NaN,LL1 Comdty,NaN,LX1 Comdty,NaN,LN1 Comdty,...,UXA1 Comdty,NaN,SI1 Comdty,NaN,GC1 Comdty,NaN,PL1 Comdty,NaN,PA1 Comdty,NaN
1,Dates,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,...,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME
2,1975-02-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.454,NaN,183,NaN,NaN,NaN,NaN,NaN
3,1975-03-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.275,NaN,177.1,NaN,NaN,NaN,NaN,NaN
4,1975-04-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.306,NaN,166.8,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
588,2023-12-29 00:00:00,2351.5,765677,8488.5,347837,2044.25,91070,2643,178260,16435,...,91.25,4,24.086,85446,2071.8,243060,995,469170,1109.3,3961
589,2024-01-31 00:00:00,2252.35,697068,8530.5,248683,2176.96,100531,2531.35,147815,16069,...,101.25,4,23.169,1222402,2048.4,3866684,932.6,42306,996.8,73444
590,2024-02-29 00:00:00,2197.22,612451,8427,250153,2072,104111,2393.25,183693,17719.5,...,94.45,4,22.666,1243264,2054.7,373245,884,506046,933.5,106138
591,2024-03-29 00:00:00,2306.92,611768,8787.84,269659,2031.92,165206,2403.68,176329,16597.02,...,88,4,24.916,135191,2217.4,4773623,907.7,596718,1021.5,6637
592,2024-04-30 00:00:00,2565.69,544639,9903.73,348514,2189.41,109647,2924.82,137191,19102,...,89.95,4,26.391,2232484,2302.9,424136,948.2,71060,952.8,92888

In [80]:
df.iloc[0] = df.iloc[0].fillna(method = 'ffill')
df

KeyError: 0

In [67]:
df.to_sql(file_name, engine, if_exists='replace')

DuplicateColumnError: A column with name 'generic 1st primary aluminum (LME)' is already present in table 'Metals_Prices_data'.

In [ ]:
df = pd.read_sql('SELECT * from ' + file_name, con=engine)
df

In [81]:
connection.close()